//--- Colors ---//
$primary-text-color: #333;
$primary-color: #3C3C3C;
$primary-action-color: #00B4FF;
$primary-border-color: #0087bf;
$light-blue: #76D3F5;
$dark-gray: #5A5A5A;
$middle-gray: #969696;
$border-gray:#DDDDDD;
$border-gray-light: #EBEBEB;
$border-darker-gray: #CCC;
$light-gray-text: #CCC;
$light-gray: #F5F5F5;
$bright-blue: #00B4FF;
$light-gray-background: #EAEAEA;
$dark-gray-heading-color: #878787;
$primary-hover-color: #005580;
$boxshadow-color: #c5c5c5;

//--- Brand Color Palette ---//
$brand-orange: #F1612A;
$brand-light-blue: #00B4FF;
$brand-dark-blue: #025D8C;
$brand-dark-gray: #3C3C3C;
$brand-light-gray: #E6E6E6;

//--- Color System Colors ---//
$system-orange: #FA6900;
$system-yellow: #FFB900;
$system-dark-red: #A30006;
$system-red: #C21A01;
$system-light-blue: #76D3F5;
$system-blue: #014AFF;
$system-dark-green: #33A12B;
$system-green: #99CC00;
$system-dark-gray: #5A5A5A;
$system-gray: #969696;
$system-light-gray: #F5F5F5;
$system-disabled: #CCC;