.release-end-date {
    position: absolute;
    top: -25px;
    height: 100%;
    font-weight: bold;
}
.release-line {
    position: relative;
    height: 100%;
    &::after {
        content: '';
        width: 1px;
        background-color:#f00;
        position: absolute;
        top:0;
        bottom:0;
    }

}


.release-item-error {
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 10px;
    background-color: #f00;
}
