.grid {
    position: relative;
    width: 90%;
    float: left;
}
.grid-lanes {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.month-label {
    display: inline-block;
    width: 8.33333333%;
    text-align: center;
}
.month-grid {
    width: 8.33333333%;
    position: relative;
    display: inline-block;
    height: 100%;

    &::before {
        content: '';
        width: 1px;
        background-color: #000;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }

    &::after {
        content: '';
        width: 1px;
        background-color: #000;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
}

.roadmap-view-control {
    margin: 15px 0;
    padding: 15px;
}
.roadmap-view-wrap {
    width: 100%;
    margin: 30px;
}
.roadmap-view-panel {
    width: 10%;
    float: left;
    padding: 15px;
}
.at-mention-key  {
    font-weight: bold;
}
.progress-bars {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.progress-bar {
    background-color: #FFF;
    opacity: .3;
    transition: width 1s ease-in-out;
}